body
{
    background-color: teal;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.content
{
    background-color: thistle;
    border-radius: 25px;
    
}
.headline
{
    background-color: aqua;
    border: darkmagenta;
    border-radius: 50px;
    text-align: center;
    
}
li:hover
{
    cursor: cell;
    background-color: bisque;
}
#newAppointment
{
    position: fixed;
    display: block;
    text-align: center;
    float: right;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
#add
{
    background-color: darkseagreen;

}
#btn
{
    margin-bottom: 10px;
}
#deleteBtn
{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.paddingComment
{
    padding: 10px;
    padding-bottom: 0px;
}
.CommentButton
{
    margin-top: 5px;
    margin-bottom: 5px;
}