body
{
    background-color: #F5E4E5;
}

.space
{
    margin-top: 85px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 100%;
}

#welcome{
    margin-bottom: 70px;
}

#logo{
    margin-bottom: 35px;
}
#base,#plus,#max
{
    font-size:130%;
    margin-left: 41%;
}

#mittel
{
    font-size:130%;
    margin-left: 25%;
}

.tablepadding{
    padding: 40px;
}

.border-all{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: white;
}

.border-only-bottom{
    border-color: black;
    border-width: 2px;
    border-bottom-style: solid;

}

.border-open-top{
    border-color: black;
    border-width: 2px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    background-color: white;
}

.border-open-bottom{
    border-color: black;
    border-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    background-color: white;
}

.border-only-sides{
    border-color: black;
    border-width: 2px;
    border-right-style: solid;
    border-left-style: solid;
    background-color: white;
}


.background-yearly-contracting{
    background-color: skyblue;
}

.background-spot{
    background-color: darkcyan;
}

.background-europa{
    background-color: yellow;
    text-align: right;
}

.background-amerika{
    background-color: orange;
    text-align: right;
}

.background-asien{
    background-color: red;
    text-align: right;
}

.background-row1{
    background-color: lightsteelblue;
}

.background-row2{
    background-color: steelblue;
}

.background-yellow{
    background-color: #fff2cc;
    font-weight: bold;
}

.background-white{
    background-color: white;
}

.code{
    width: 400px;
}

.border{
    size: 10px;
}

.grey{
    color:gray;
}

.margin-bottom{
    margin-bottom:5%;
}

.row-height{
    height: 50px;
}

.padding-bottom{
    padding-bottom: 20px;;
}

#qua{
    position: absolute;
    top: 7%;
    right: 0%;
}

.profitLossStyle{
    padding-bottom: 1.5%;
    padding-left: 0px;
}

.border-only-left{
    border-color: black;
    border-width: 2px;
    border-left-style: solid;
}