body
{
    background-color: #F5E4E5;
}

.space
{
    margin-top: 85px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 100%;
}

#welcome{
    margin-bottom: 70px;
}

#logo{
    margin-bottom: 35px;
}
#base,#plus,#max
{
    font-size:130%;
    margin-left: 41%;
}

#mittel
{
    font-size:130%;
    margin-left: 25%;
}

.tablepadding{
    padding: 50px;
}